@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  display: flex;
  place-items: center;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22em;

  background-color: #11101D;
  color: #ffffff;
}

button {
  cursor: pointer;
}

#root {
  position: relative;
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
